<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Auto Scheduler</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>
  </head>
  <body>

    <div class="schedule" ng-app="schedule1" ng-controller="Scheduler as scheduler">
        <div class="purpose">
          <h3>Schedule reoccurring task for your app</h3>
          <p>Heroku Scheduler lets you add jobs which are executed at regular intervals.<br>
For more information, please view the docs.</p>
        </div>
        <div class="task">
          <div class="trow">
            <label>$</label><input type="text" value="" placeholder="rake do_something">
        </div>
      </div>
        <div class="info">
          <div>
            <h5>DYNO SIZE</h5>
            <select ng-model="task.dinoSize">
              <option>Free</option>
            </select>
          </div>
          <div>
            <h5>FREQUENCY</h5>
            <select ng-model='task.frequency'>
              <option>Daily</option>
              <option>Hourly</option>
              <option>Every 10 Minutes</option>
            </select>
          </div>
          <div>
            <h5>LAST RUN</h5>
            <p ng-model="task.lastRun">Never</p>
          </div>
          <div>
            <h5>NEXT DUE</h5>
            <span>{{date | date: 'MMMM-dd'}}</span>
            <select>
              <select ng-model='task.nextDue'></select>
            </select>UTC
          </div>
        </div>
        <div class="buttons">
          <p><input type="button" value="Save"> <input type="button" value="cancel"></p>
        </div>

        <div class="add-new-button">
          Add new Job
        </div>
      </div>


      <script src="js/app.js"></script>


  </body>
</html>
